body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url(bg12.jpg) no-repeat;
  background-size: cover;
}
.login-box{
  width: 280px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
}
.login-box h1{
  float: left;
  font-size: 40px;
  border-bottom: 6px solid #E1C08F;
  margin-bottom: 50px;
  padding: 13px 0;
}
.textbox{
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid #E1C08F;
}
.textbox i{
  width: 26px;
  float: left;
  text-align: center;
}
.textbox input{
  border: none;
  outline: none;
  background: none;
  color: #E1C08F;
  font-size: 18px;
  width: 80%;
  float: left;
  margin: 0 10px;
}

.register-button{
  padding: 10px 20px 10px 20px;
  font-size: 1.5em;
  cursor: pointer;
  border-radius: 2em;
  position: relative;
  top: 50px;
}

.register-button:hover{
  background: #17DDC5;
}

.success{
  position: relative;
  margin: -45px;
  text-align: center;
  color: lime;
}
