	body{
		margin: 0px;
		border: 0px;
		background: url(bg4.jpg) no-repeat;
		background-size: cover;
		}

	.header{
		width: 100%;
		height: 120px;
		background-color: #900C3F;
		color: white;
		text-transform: uppercase;
		display: inline-block;
		text-decoration: none;
		font-size: 24px;
		font-family: sans-serif;
		letter-spacing: 4px;
		text-align: center;
		}

	.header p{
		margin: 0;
		margin-top: 20px;
	}	

	ul li{
		padding: 30px 35px;
		border-bottom: 2px solid grey;
		list-style-type: none;
		transition: 0.06s;
		}

	ul li:hover{
	box-shadow: 0 0 5px #50F1C3,
	            
	            0 0 300px #50F1C3;
	}
	.sidebar{
		flex: 10;
		width: 25%;
		color: white;
		text-decoration: none;
		padding-top: 20px;
		padding-left: 25px;
		text-transform: uppercase;
		display: inline-block;
		text-decoration: none;
		font-size: 24px;
		font-family: sans-serif;
		letter-spacing: 4px;

	}
	
	.logout_button{
		width: 108px;
		height: 88.500px;
		padding: 30px 35px 30px 35px;
	}
	
	a{
	position: relative;
	width: 10%;
	display: inline-block;
	align-items: center;
	padding-top: 35px 35px;
	padding-left: 47px;
	text-decoration: none;
	letter-spacing: 4px;
	font-size: 24px;
	text-transform: uppercase;
	transition: 0.06s;
	color: white;
	margin: 40px;
	
	
}
a:hover{
	margin-left: 25px;
	background: #4AAB65;
	box-shadow: 0 0 5px #15B040,
	            0 0 25px #15B040,
	            0 0 50px #15B040,
	            0 0 200px #15B040,
	            0 0 250px #15B040,
	            0 0 300px #15B040;
}
